@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="/css/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="Page">

        <div class="navbar">
            <button onclick="scrollToTop()" class="logo">FB Portfolio</button>
            <script>
                function scrollToTop() {
                    window.scrollTo(0, 0);
                }

            </script>
            <div id="butonat">
                <button onclick="scrolldiv()" class="butoni" id="butAbout">About</button>
                <script>

                    function scrolldiv() {
                        window.scroll(0,
                            findPosition(document.getElementById("About")));
                    }
                    function findPosition(obj) {
                        var currenttop = 0;
                        if (obj.offsetParent) {
                            do {
                                currenttop += obj.offsetTop;
                            } while ((obj = obj.offsetParent));
                            return [currenttop];
                        }
                    }</script>



                <button onclick="scrolldiv1()" class="butoni" id="butContact">Contact</button>
                <script>
                    function scrolldiv1() {
                        window.scroll(0,
                            findPosition1(document.getElementById("Contact")));
                    }
                    function findPosition1(obj) {
                        var currenttop = 0;
                        if (obj.offsetParent) {
                            do {
                                currenttop += obj.offsetTop;
                            } while ((obj = obj.offsetParent));
                            return [currenttop];
                        }
                    }</script>



                <button onclick="scrolldiv2()" class="butoni" id="butRepos">Repos</button>
                <script>
                    function scrolldiv2() {
                        window.scroll(0,
                            findPosition2(document.getElementById("repos")));
                    }
                    function findPosition2(obj) {
                        var currenttop = 0;
                        if (obj.offsetParent) {
                            do {
                                currenttop += obj.offsetTop;
                            } while ((obj = obj.offsetParent));
                            return [currenttop];
                        }
                    }</script>
            </div>
        </div>
        <div class="Home" id="About">
            <img src="../css/images/Lindi.jpg" />
            <H1>Hello I'm Lindi</H1>
            <H3>I'm a student of CSE trying to show my skills and <br /> hopefully enter StarLabs.</H3>
        </div>
        <div class="About">
            <H1>About me</H1>
            <p>
                I'm Fatlind Bytyqi, 20 years old studying Computer Science and Engineering. <br>
                I'm pleased with you taking a look over my Portfolio and I hope you like it!<br>
                Since 2020 I've learned to code using: <br>
                Java, PHP, C#, HTML, CSS, JavaScript(ReactJs, now trying VueJs).<br>
                I personally like ReactJS + C#(.NET).<br>
                To see my proffesional preferences press the button below.
            </p> <br />
            <a id="linkedin" href="https://www.linkedin.com/in/fatlind-bytyqi-9b5a6122b">My LinkedIn</a>

        </div>
        <div class="Contact" id="Contact">
            <h1>Contact</h1>

            <h3>You can Contact me here:</h3>
            <div class="Links">
                <a href="mailto:fatlind15032@gmail.com"> <img src="../css/images/gmaili.png"> </a>
                <a href="https://www.instagram.com/fatlindbytyqi1/">  <img src="../css/images/insta.jpg"></a>
                <a href="https://www.linkedin.com/in/fatlind-bytyqi-9b5a6122b/"> <img src="../css/images/li.png"></a>
            </div>
        </div>
        <div id="repos">
            <h1>GitHub Repos</h1>
            <h3>
                Down here are some of my projects which I've done in <br />
                past semesters and added them in GitHub.
            </h3>
            <div class="slideshow-container">
                <div class="mySlides">
                    <img src="../css/images/lab1.PNG">
                </div>
                <div class="mySlides">
                    <img src="../css/images/lab2.png">
                </div>
                <div class="mySlides">
                    <img src="../css/images/lab3.png">
                </div>
                <div class="mySlides">
                    <img src="../css/images/lab4.PNG">
                </div>
                <div class="mySlides">
                    <img src="../css/images/lab5.png">
                </div>
                <div class="mySlides">
                    <img src="../css/images/lab6.png">
                </div>
                <a class="prev" onclick="plusSlides(-1)"><</a>
                <a class="next" onclick="plusSlides(1)"> > </a>
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
                <span class="dot" onclick="currentSlide(6)"></span>
            </div>

            <a href="https://github.com/FatlindBytyqi/LabCourse-1">
                <h1>
                    LabCourse 1
                </h1>
            </a>
            <div class="slideshow-container1">
                <div class="mySlides1">
                    <img src="../css/images/web1.PNG">
                </div>
                <div class="mySlides1">
                    <img src="../css/images/web2.png">
                </div>
                <div class="mySlides1">
                    <img src="../css/images/web3.png">
                </div>
                <div class="mySlides1">
                    <img src="../css/images/web4.PNG">
                </div>
                <div class="mySlides1">
                    <img src="../css/images/web5.png">
                </div>
                <div class="mySlides1">
                    <img src="../css/images/web6.png">
                </div>
                <a class="prev1" onclick="plusSlides1(-1)"><</a>
                <a class="next1" onclick="plusSlides1(1)"> > </a>
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot1" onclick="currentSlide1(1)"></span>
                <span class="dot1" onclick="currentSlide1(2)"></span>
                <span class="dot1" onclick="currentSlide1(3)"></span>
                <span class="dot1" onclick="currentSlide1(4)"></span>
                <span class="dot1" onclick="currentSlide1(5)"></span>
                <span class="dot1" onclick="currentSlide1(6)"></span>
            </div>
            <a href="https://github.com/FatlindBytyqi/Projekti_Web"><h1>E-Commerce Project</h1> </a>
        </div>
    </div>
    <script src="../js/JavaScript.js"> </script>
</body>